# Gradle build files
.gradle/
build/

# WPILib specific files
bin/
deploy/
*.pdb
*.so
*.dll
*.exe
*.class
*.jar

# VSCode workspace
.vscode/
*.code-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
